
<div>
    <div class="gallery">
      @for (data of _services.ListPlaceFilter; track $index) {
        <div class="gallery-img"  [routerLink]="['/Catalogo/Categoria/Lista-Skin/'+data.clase+'/'+data.ingreso]">
           
          <img [lazyLoad]="data.listUrl[0]" [alt]="data.id" [defaultImage]="defaultImage" (click)="select(data)" >
        </div>
      }@empty {
        <div class="gallery-img">....Cargando Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, impedit doloremque? Asperiores sit, nulla quo, cum eos natus molestias tempore suscipit vero expedita nobis iste? Molestiae ea quibusdam recusandae laudantium!</div>
      }
        
    </div>
    
</div>

  