<div class="back"><nav class="navbar  navbar-expand-lg sticky-top back" >
    <div class="container-fluid ">
      <a class="navbar-brand logo" href="">Skin Gallery</a>
     
     
        <div class="input-group">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="busqueda">
            
            <button class="btn btn-outline-success" [routerLink]="['Categoria/Busqueda/'+busqueda.value]">Buscar</button>
        </div>
        
          
        
    </div>
  </nav>
</div>
<div class="container fondo">
    
    
    <mat-chip-listbox #listchips aria-label="Fish selection" >
        @for (i of typeList; track $index) {
            <mat-chip-option #chip  value="{{i}}"  [routerLink]="['Categoria/Lista-Skin/'+i]">
                {{i}}
            </mat-chip-option>
        }@empty {

        }
        
    </mat-chip-listbox>
    <router-outlet>
        
    </router-outlet>
   <!--<app-list-items buscarData="{{busqueda}}"></app-list-items>-->

</div>

<app-footer></app-footer>

