<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="col m-5 ">
                <h1>Skin Gallery</h1>
                
            </div>
            
            <div class="col m-2">
                <h5>Contacto</h5>
                <ul>
                    <li>+51 994091623</li>
                    <li>+51 936826512</li>
                </ul>
            </div>
            <div class="col m-2">
                <h5>Tienda</h5>
                <ul>
                    <li>Skin</li>
                    <li>Fundas</li>
                    <li>Protectores</li>
                </ul>
            </div>
            <div class="col m-2">
                <h5 >Redes Sociales</h5>
                <ul>
                    <li>
                        <a href="https://web.facebook.com/SkinGalleryTacna/" target="_blank">
                            <img src="assets\icono-facebook.svg" alt="ico Facebook" width="50">
                            SkinGalleryTacna
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>