.img-logo{
    width: 40px;
    border-radius: 50%;
}
.img-whatsapp{
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.img-whatsapp:hover{
    width: 120px;
    transition: 0.5s;
}


.whatsapp{
    width: 300px;
    position: fixed;
    bottom: 60px;
    right: 50px;
}